body {
  margin: 0;
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Set your text color */ /* Set your font */
  backdrop-filter: blur(1px)/* Apply the blur effect to the background */
 /* Adjust the blur value as needed */
}

.container {
    perspective: 1px;
}

.card {
    width: 380px;
    height: 400px;
    background: #a2790d;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 15);
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 1;
    padding: 1px;
}
h1 {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
    color:#C41E3A; /* Christmas Red */
    margin-top: 30px;
}
p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    line-height:1.2;
    display:flex;
    text-align: center;
    text-justify: inter-word;
    word-wrap: break-word;
    color:#000000;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    z-index: 0;
}

.card:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    z-index: 0;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 600px){
    body{
        background-size: 100% 100%;
    }
    .card{
        width: 350px;
        height: 350px;
    }
}
