{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Christmas Button</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href="{% static 'button.css'%}" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-image : url('{% static 'c1.jpg'%}')";>
  <div class="bg">
    <div class="centerer">
      <a href="/message" class="button">Christmas Button</a>
    </div>
  </div>
</body>
</html>